<div class="container d-flex justify-content-center align-items-center vh-100">
  <div
    class="col-10 col-xs-8 col-md-6 col-lg-5 col-xl-4 p-4 border rounded shadow bg-white"
  >
    <h2 class="text-center mb-4">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="handleSubmitForm()">
      <!-- Full Name -->
      <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter your name"
          formControlName="userName"
        />
        @if (formContreol['userName'].touched &&
        formContreol['userName'].invalid) {
        <div class="text-danger">Full Name is required.</div>
        }
      </div>

      <!-- Email Address -->
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
          formControlName="userEmail"
        />
        @if (formContreol['userEmail'].touched &&
        formContreol['userEmail'].invalid) {
        <div class="text-danger">Valid email is required.</div>
        }
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password"
          formControlName="userPassword"
        />
        @if(formContreol['userPassword'].touched &&
        formContreol['userPassword'].invalid){
        <div class="text-danger">
          Password must be at least 8 characters long and include uppercase,
          lowercase, numbers, and special characters.
        </div>
        }
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <label for="confirm-password" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="confirm-password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
        />
        @if (formContreol['confirmPassword'].touched &&
        formContreol['confirmPassword'].hasError('mismatch')) {
        <div class="text-danger">Passwords do not match.</div>
        }
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>

    <!-- Login Link -->
    <p class="mt-3 text-center">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
