<div class="bg-dark text-white" style="height: 500px">
  <div class="container py-5">
    <h2 class="text-center">skills</h2>
    <p class="text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos alias
      repudiandae unde quisquam vel temporibus ullam, pariatur, delectus,
      incidunt magni corrupti illum qui consequuntur? Consequuntur id magni
      molestias non ipsum.
    </p>
    <div class="row" style="height: 300px">
      <div class="col-4 text-center">
        <h4>my focus</h4>
        <hr />
        <ul class="list-unstyled">
          <li>HTML</li>
          <li>CSS</li>
          <li>JS</li>
          <li>Angular</li>
        </ul>
      </div>
      <div class="col d-flex flex-column justify-content-evenly">
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 30px"
        >
          <div class="progress-bar bg-secondary" style="width: 80%">HTML</div>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 30px"
        >
          <div class="progress-bar bg-secondary" style="width: 80%">CSS</div>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 30px"
        >
          <div class="progress-bar bg-secondary" style="width: 80%">JS</div>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 30px"
        >
          <div class="progress-bar bg-secondary" style="width: 80%">
            Angular
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
