<div class="container p-5">
  <h3 class="col-3 p-3 m-5 text-center bg-body-tertiary rounded">Portfolio</h3>
  <div class="row align-items-start">
    <div class="d-flex flex-wrap justify-content-center gap-5 text-center">
      <div class="card text-bg-dark mb-3 p-5" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-bg-dark mb-3 p-5" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-bg-dark mb-3 p-5" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-bg-dark mb-3 p-5" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-bg-dark mb-3 p-5" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-bg-dark mb-3 p-5" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
