<div class="container m-5">
  <div class="row align-items-start">
    <h3 class="col-3 p-3 m-5 text-center bg-body-tertiary rounded">about</h3>
    <div class="col inline-flex p-3 m-5 text-center">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid et
        magnam quisquam explicabo quaerat consequatur fugiat corrupti enim atque
        modi totam minus voluptatum deleniti ducimus quis eius autem, adipisci
        impedit.
      </p>
      <button type="button" class="btn btn-dark">Download Resume</button>
    </div>
  </div>
</div>
